name: CI-CD

on:
  push:
    branches: ["main"]
  pull_request:

jobs:
  build:
    name: Build Docker Image
    runs-on: ubuntu-latest
    steps:
      - name: Checkout código
        uses: actions/checkout@v4

      - name: Construir imagem Docker
        run: |
          docker build -t myapp:latest .

      - name: Teste rápido de inicialização do container (Smoke Test)
        run: |
          docker run -d --name app_test -p 1313:1313 myapp:latest
          sleep 5
          docker logs app_test
          docker stop app_test || true
          docker rm app_test || true

  test:
    name: Run Unit Tests
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Checkout código
        uses: actions/checkout@v4

      - name: Configurar Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Instalar docker-compose
        run: |
          sudo curl -L "https://github.com/docker/compose/releases/download/1.29.2/docker-compose-$(uname -s)-$(uname -m)" -o /usr/local/bin/docker-compose
          sudo chmod +x /usr/local/bin/docker-compose
          docker-compose --version  # Verifique se o docker-compose foi instalado corretamente

      - name: Rodar testes
        run: |
          docker-compose run api python -m unittest discover

  deploy:
    name: Deploy Docker App to Vercel
    runs-on: ubuntu-latest
    needs: test
    steps:
      - name: Checkout código
        uses: actions/checkout@v4

      - name: Instalar Vercel CLI
        run: npm install -g vercel

      - name: Pull Config do Vercel (importantíssimo)
        env:
          VERCEL_TOKEN: ${{ secrets.VERCEL_TOKEN }}
          VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
          VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}
        run: |
          vercel pull --yes --environment=production \
            --token=$VERCEL_TOKEN \
            --scope=$VERCEL_ORG_ID

      - name: Build do Docker no Vercel
        run: echo "Step skipped - Vercel no longer supports docker builds"

      - name: Deploy Docker para Produção no Vercel
        env:
          VERCEL_TOKEN: ${{ secrets.VERCEL_TOKEN }}
          VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
          VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}
        run: |
          vercel deploy --prebuilt --prod \
            --token=$VERCEL_TOKEN \
            --scope=$VERCEL_ORG_ID